/* CSS Document */
@font-face{
	font-family:RemachineScript_Personal_Use;
	src:url(../font/RemachineScript_Personal_Use.ttf)
	}
@font-face{
	font-family:Nesia_Calligraphy;
	src:url(../font/Nesia_Calligraphy.ttf)
	}
@font-face{
	font-family:Nightmare Before Christmas;
	src:url(../font/Nightmare%20Before%20Christmas.ttf)
	}
@font-face{
	font-family:PentaGrams Malefissent;
	src:url(../font/PentaGrams%20Malefissent.ttf)
	}
@font-face{
	font-family:ALBAM___;
	src:url(../font/ALBAM___.TTF)
	}
@font-face{
	font-family:ALBA____;
	src:url(../font/ALBA____.TTF)
	}
@font-face{
	font-family:ALBAS___;
	src:url(../font/ALBAS___.TTF)
	}
@font-face{
	font-family:FadeToGrey;
	src:url(../font/FadeToGrey.ttf)
	}
@font-face{
	font-family:DK Southside Fizz;
	src:url(../font/DK%20Southside%20Fizz.otf)
	}