@charset "utf-8";
@import url("../webfonts/ALBAS/stylesheet.css");

/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

*{
	box-sizing: 
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	background-image: url(../images/general/pencil.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(255,153,0,1);
}

#top {
	display: none;
}
#banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top: 25px;
}
#main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 100%;
}
#section1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
	vertical-align: middle;
}
#section2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#up {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#down {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
	vertical-align: middle;
}
#setmagin {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: rgba(51,51,51,0.7);
}
#s1logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position: fixed;
	left: 0px;
	top: 0px;
	text-align: left;
	padding-left: 10px;
}
#s2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#s2a {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-size: x-large;
	font-family: ALBAS;
	margin-bottom: 20px;
	margin-top: 10px;
}
#s2b {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#sectiona {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#sec50 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#sec50b {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#sec50top {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: left;
}
#sec50bottom {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#circularpics {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top: 15px;
}
#above {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: none;
}
#below {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#vidcenter {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#vidlogo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#secleft {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#secmid {
	font-size: medium;
	font-weight: bold;
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(51,51,51,0.5);
	margin-top: 10px;
}
#secright {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 400px;
}
#loginform #firstname,#password {
	width: 200px;
	height: 25px;
	text-transform: lowercase;
}
marquee {
	color: rgba(0,0,0,1);
}
#ads {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top: 10px;
}
#circle1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cirlce2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#circle3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#circle4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#circle2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.gridContainer.clearfix #main #vidlogo #username {
	float: right;
	font-size: large;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}
.gridContainer.clearfix #main #vidlogo #username span button {
	transition:background-color 0.5s,color 0.5s;
	border: 1px solid rgba(0,0,0,1);
	border-radius: 10px;
	background-color: rgba(0,0,0,0.3);
	color: rgba(255,255,255,1);
}

.gridContainer.clearfix #main #vidlogo #username span button:hover {
	background-color:rgba(0,0,0,1);
	color:rgba(255,153,0,1)
	}
.gridContainer.clearfix #main #below #secmid p {
	color: rgba(255,153,0,1);

}
.gridContainer.clearfix #main #below #secmid p span {
	color: rgba(255,255,255,1);
}
.gridContainer.clearfix #main #below #secleft button {
	text-align: center;
	vertical-align: middle;
	height: 50px;
	width: 80px;
	border-radius: 25px;
	transition: background-color 0.5s ease-in,transform 0.5s;
	margin-top:5px;
	margin-left:5px;
	border-width:1px;
	border-color:rgba(255,255,255,1);
	background-color:rgba(0,0,0,0.4);
	color:white;
	border-style:solid;}

.gridContainer.clearfix #main #below #secleft button:hover {
	background-color:rgba(0,0,0,1);
	width:100px;
	transform:rotate(360deg)
	}
	
#main #section1 #middlepic p {
	text-align: center;
	vertical-align: middle;
	font-size: 10px;
}
#main #section1 #middlepic p #start {
	transition: background-color 0.5s ease-in,transform 0.5s;
	font-size: 20px;
	border-radius: 25px;
	width: 100px;
	border-width: 5;
	border-color: rgba(0,0,0,1);
	border-style: solid;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
	vertical-align: middle;
	color: rgba(255,153,51,1);
	font-family:Aero;
	font-weight: lighter;
	padding: 5px;
}
#main #section1 #middlepic p #start:hover {
	transform:rotate(360deg);
	background-color:black;}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
html,body{
	overflow:auto;}
	
.gridContainer {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-image: url(../images/general/pencil.jpg);
	background-size: cover;
	height: 100%;
}
#banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin: 0;
}
#main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 100%;
}
#section1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top: 30px;
	font-family: ALBAS;
}

#section2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#up {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#down {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#setmagin {
	clear: both;
	float: left;
	margin-left: 20%;
	width: 60%;
	display: block;
	text-align: center;
	background-color: rgba(51,51,51,0.7);
	margin-right: 20%;
}
#s1logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: left;
	position: fixed;
	z-index: 10;
	left: 0px;
	top: 0px;
}
#s2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#s2a {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-family: ALBAS;
	font-size: xx-large;
	margin-bottom: 20px;
}
#s2b {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
	font-family: ALBAS;
	font-size: x-large;
}
#sectiona {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#sec50 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#sec50b {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#sec50top {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position: fixed;
	top: 0px;
	text-align: left;
}
#sec50bottom {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#circularpics {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#above {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: none;
}
#below {
	clear: both;
	float: left;
	margin-left: 0px;
	width: 100%;
	display: block;
	height: 300px;
}
#vidcenter {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#vidlogo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 40px;
	padding-top: 10px;
}
#secleft {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#secmid {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
	vertical-align: middle;
}
#secright {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: none;
}
#loginform #firstname,#password {
	width: 200px;
	height: 25px;
	text-transform: lowercase;
	font-variant: small-caps;
}
#ads {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#circle1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#cirlce2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#circle3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#circle4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#circle2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

.gridContainer.clearfix #main #vidlogo #username {
	float: right;
	font-size: large;
	font-weight: bold;
}
.gridContainer.clearfix #main #vidlogo #username span button {
	transition:background-color 0.5s,color 0.5s;
	border: 1px solid rgba(0,0,0,1);
	border-radius: 10px;
	background-color: rgba(0,0,0,0.3);
	color: rgba(255,255,255,1);
}

.gridContainer.clearfix #main #vidlogo #username span button:hover {
	background-color:rgba(0,0,0,1);
	color:rgba(255,153,0,1)
	}
.gridContainer.clearfix #main #below #secmid p {
	color: rgba(255,153,0,1);

}
.gridContainer.clearfix #main #below #secmid p span {
	color: rgba(255,255,255,1);
}
.gridContainer.clearfix #main #below #secleft button {
	text-align: center;
	vertical-align: middle;
	height: 50px;
	width: 80px;
	border-radius: 25px;
	transition: background-color 0.5s ease-in,transform 0.5s;
	margin-top:5px;
	margin-left:5px;
	border-width:1px;
	border-color:rgba(255,255,255,1);
	background-color:rgba(0,0,0,0.4);
	color:white;
	border-style:solid;}

.gridContainer.clearfix #main #below #secleft button:hover {
	background-color:rgba(0,0,0,1);
	width:100px;
	transform:rotate(360deg)
	}
	
	#s2a #font {
	font-size: 12px;
	font-style: italic;
	font-family: Tahoma, Geneva, sans-serif;
	color: rgba(255,255,255,1);
}

#main #section1 #middlepic p {
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
}
#main #section1 #middlepic p #start {
	transition: background-color 0.5s ease-in,transform 0.5s;
	font-size: 28px;
	border-radius: 25px;
	width: 120px;
	border-width: 5;
	border-color: rgba(0,0,0,1);
	border-style: solid;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
	vertical-align: middle;
	color: rgba(255,153,51,1);
	font-family: Aero;
	font-weight: lighter;
	padding: 5px;
}
#main #section1 #middlepic p #start:hover {
	transform:rotate(360deg);
	background-color:black;}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	display: block;
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(255,153,0,1);
	overflow: hidden;
}
#banner {
	max-height: 100%;
	clear: both;
	height: 100%;
	float: left;
	margin: 0;
	width: 100%;
	background-color: rgba(255,153,0,1);
	position: absolute;
	background-image: url(../images/banner/banner.jpg);
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% 100%;
	z-index: 3;
	overflow: hidden;
	padding: 0px;
	left: 0px;
	margin-top: 0px;
}

#top {
	height: 20%;
	width: 100%;
	position: static;
	display: block;
}
#middle {
	width: 60%;
	height: 60%;
	padding-right: 20%;
	padding-left: 20%;
	text-align: center;
}
#middle img {
	margin-top: 40px;
}
#margin {
	position: absolute;
	padding-right: 100px;
}
#main {
	clear: both;
	float: left;
	width: 100%;
	display: block;
	height: 100%;
	margin: 0px;
	position: absolute;
	overflow: hidden;
}
#section1 {
	background-image: linear-gradient(rgb(255,180,0),rgb(39,44,56));
	clear: both;
	float: left;
	margin-left: 0;
	width: 50%;
	display: block;
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin-top: 0px;
}
#section2 {
	clear: none;
	float: left;
	width: 50%;
	display: block;
	height: 100%;
}
#up {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 41%;
}
#down {
	clear: both;
	float: left;
	width: 100%;
	display: block;
	height: 56%;
}
#setmagin {
	clear: both;
	margin-left: 5%;
	width: 90%;
	display: block;
	margin-top: 1%;
	margin-right: 5%;
	background-color: rgba(255,255,255,1);
	text-align: center;
	height: 92%;
	float: left;
	overflow-y: auto;
	padding-top: 5%;
}

#section2 img {
	box-sizing: border-box;

}
#loginform p {
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 40px;
	color: rgba(255,204,0,1);
	font-family: Tahoma, Geneva, sans-serif;
	font-variant: small-caps;
	text-transform: lowercase;
}
input {
	border-collapse: collapse;
}
#loginform h3 #login {
	border:1px solid black;
	transition:background-color 0.5s,color 0.5s;
	font-size: medium;
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
	font-family: Verdana, Geneva, sans-serif;
	border-radius: 200px;
	height: 40px;
	width: 100px;
	
}
#loginform h3 #login:hover{
	background-color:black;
	color:white}

#loginform h3 #reset {
	border:1px solid black;
	transition:background-color 0.5s,color 0.5s;
	font-size: medium;
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
	font-family: Verdana, Geneva, sans-serif;
	border-radius: 200px;
	height: 40px;
	width: 100px;
	
}
#loginform h3 #reset:hover{
	background-color:black;
	color:white
	}
#loginform h3 {
	display: inline;
}

.left{margin-left:10px;}
.right{margin-right:10px;}

input[type=text]{
	padding: 10px;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	width: 200px;
	font-variant: small-caps;
	text-transform: lowercase;
	}
	
input[type=password]{
	padding: 10px;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	text-transform: lowercase;
	width:200px;
	}

#s1logo{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 20%;
	text-align: left;
	vertical-align: auto;
	position: static;
	}

#s2{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 80%;
	}


#s2a{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 70%;
	font-size: xx-large;
	font-weight: bolder;
	font-family: "ALBAS___";
	color: rgba(255,255,255,1);
	margin-bottom: 0px;
	}

#s2b{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 25%;
	font-family: "ALBAS___";
	font-size: xx-large;
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
	color: rgba(0,0,0,1);
	margin-bottom: 5%;
	}

#sectiona{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}

#sec50{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 50%;
	margin: 0px;
	margin-top: 0px;
	}

#sec50b{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 50%;
	}

#sec50top{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 10%;
	text-align: left;
	margin: 0px;
	position: static;
	margin-top: 0px;
	}

#sec50bottom{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 90%;
	}

#circularpics{
	clear: both;
	float: left;
	margin-left: 0;
	width: 200px;
	display: block;
	position: absolute;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	background-color: rgba(0,255,153,1);
	top: 30%;
	left: 50%;
	height: 200px;
	}

#above{
	
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 44%;
	background-color: rgba(255,153,0,1);
	overflow: auto;
	padding-top: 15px;
	visibility: visible;
	margin-top: 3%;
	background-image: url(../images/general/PholexGraphics.jpg);
	background-size: contain;
	-webkit-animation: animatebackground 60s linear infinite;
	animation: animatebackground 60s linear infinite;
	-ms-animation: animatebackground 60s linear infinite;
	-moz-animation: animatebackground 60s linear infinite;
}
	
@keyframes animatebackground 
{
 from {background-position: 0 0;}
 to {background-position: -1000px 0;}
}
@-webkit-keyframes animatebackground 
{
 from {background-position: 0 0;}
 to {background-position: -1000px 0;}
}
@-ms-keyframes animatebackground 
{
 from {background-position: 0 0;}
 to {background-position: -1000px 0;}
}
@-moz-keyframes animatebackground 
{
 from {background-position: 0 0;}
 to {background-position: -1000px 0;}
}

#below{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 50%;
	vertical-align: middle;
	text-align: center;
	background-image: url(../images/general/pencil.jpg);
	overflow: auto;
	}

#vidcenter{
	clear: both;
	float: left;
	margin-left: 0;
	width: 250px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 250px;
	background-color: rgba(0,255,204,1);
	}

#vidlogo{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 31px;
	background-color: rgba(255,153,0,1);
	position: absolute;
	background-image: url(../images/general/pencil.jpg);
	background-repeat: no-repeat;
	padding: 5px;
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,1);
	}

#secleft{
	text-align: left;
	clear: both;
	float: left;
	margin-left: 0;
	width: 35%;
	display: block;
	}

#secmid{
	clear: none;
	width: 30%;
	display: block;
	margin-top: 150px;
	font-size: medium;
	font-weight: bold;
	background-color: rgba(51,51,51,0.5);
	float: left;
	}

#secright{
	clear: none;
	float: left;
	width: 35%;
	display: block;
	}
		
#loginform marquee {
	margin-top: 10px;
}

#s2a #font {
	font-size: 12px;
	font-style: italic;
	font-family: Tahoma, Geneva, sans-serif;
	color: rgba(255,255,255,1);
}
.backgroundC {
	background-image:linear-gradient(rgb(255,180,0),rgb(39,44,56));
}
.absolute {
	position: absolute;
}
#middlepic {
	position: absolute;
	height: 50%;
	width: 40%;
	margin-top: 20%;
	margin-bottom: 30%;
	margin-left: 30%;
	margin-right: 30%;
	left: -17px;
	top: 64px;
}
#main #section1 #middlepic h1 {
	font-size: 36px;
	text-align: center;
	vertical-align: middle;
	font-family: ALBAS;
	color: rgba(255,255,255,1);
}
#main #section1 #middlepic p {
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
}
#main #section1 #middlepic p #start {
	transition: background-color 0.5s ease-in,transform 0.5s;
	font-size: 32px;
	border-radius: 25px;
	width: 150px;
	border-width: 5;
	border-color: rgba(0,0,0,1);
	border-style: solid;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
	vertical-align: middle;
	color: rgba(255,153,51,1);
	font-family: Aero;
	font-weight: lighter;
	padding: 5px;
}
#main #section1 #middlepic p #start:hover {
	transform:rotate(360deg);
	background-color:black;}
.right #login {
	background-color:;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.left #reset {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.gridContainer.clearfix #main #section1 #down #setmagin #loginform p input {
	background-color: rgba(204,204,204,1);
	border-width: 0px;
	font-variant: small-caps;
	text-transform: lowercase;
}
.buttonanimate{
	transition:background-color 2s;
	}
.buttonanimate:hover{
	background-color:black;
	}
#username {
	float: right;
	font-size: medium;
	font-weight: bold;
	padding: 7px;
	padding-right: 35px;
}
.gridContainer.clearfix #main #below #secmid p {
	color: rgba(255,153,0,1);

}
.gridContainer.clearfix #main #below #secmid p span {
	color: rgba(0,0,0,1);
}
.gridContainer.clearfix #main #vidlogo #username span {
	margin-right: 12px;
	border-radius: 25px;
}
.gridContainer.clearfix #main #vidlogo #username span button {
	transition:background-color 0.5s,color 0.5s;
	border: 1px solid rgba(0,0,0,1);
	border-radius: 10px;
	background-color: rgba(0,0,0,0.3);
	color: rgba(255,255,255,1);
}

.gridContainer.clearfix #main #vidlogo #username span button:hover {
	background-color:rgba(0,0,0,1);
	color:rgba(255,153,0,1)
	}
#top a img {
	float: left;
}
#ads {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: none;
}
#circle1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 29.9435%;
	display: block;
	height: 50px;
	border-radius: 100px;
	background-color: rgba(255,255,255,1);
}
#cirlce2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#circle3 {
	clear: none;
	margin-left: 1.6949%;
	width: 29.9435%;
	display: block;
	border-radius: 100px;
	height: 50px;
	background-color: rgba(255,255,255,1);
}
#circle4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#circle2 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 29.9435%;
	display: block;
	border-radius: 100px;
	background-color: rgba(255,255,255,1);
	height: 50px;
}

.gridContainer.clearfix #main #vidlogo #username {
	float: right;
	margin-top: 0px;
}
.gridContainer.clearfix #main #below #secmid {
	color: rgba(255,153,0,1);
}
.gridContainer.clearfix #main #below #secmid p {
	color: rgba(255,153,0,1);
}
.gridContainer.clearfix #main #below #secmid p span {
	color: rgba(255,255,255,1);
}
.gridContainer.clearfix #main #below #secleft button {
	text-align: center;
	vertical-align: middle;
	height: 50px;
	width: 80px;
	border-radius: 25px;
	border-width: 0;
	transition: background-color 0.5s ease-in,transform 0.5s;
	margin-top:5px;
	margin-left:5px;
	border-width:1px;
	border-color:rgba(255,255,255,1);
	background-color:rgba(0,0,0,0.4);
	color:white;
	border-style:solid;}

.gridContainer.clearfix #main #below #secleft button:hover {
	background-color:rgba(0,0,0,1);
	width:100px;
	transform:rotate(360deg)
	}
.help-block{
	text-transform: lowercase;
	display: block;
	font-size: 9px;
	font-family: Aero
}
}
